jupyter
ipython
requests
pandas>=1.0.0
geopandas
matplotlib
plotly
folium
mapclassify
scipy
pytest
opencv-python
pytz
gspread
oauth2client
pytest-profiling
yappi
google-api-python-client
ffmpeg-python
beautifulsoup4>=4.9.0
psycopg2-binary>=2.8.5
Flask>=2.0.0
SQLAlchemy>=1.4.0
flask_socketio

