<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <style>
      img {height:300px}
      body {margin:0px}
      #site-title {
        margin-bottom: 5px;
        text-align: center;
        width: 100%;
      }
      .label {
        font-size: 17px;
      }
      .video-container {
        display: inline-flex;
        flex-flow: column nowrap;
        margin: 3px;
      }
    </style>
</head>

<body>
  <h1 id="site-title">{{ run_name }}</h1>

  {% for video in videos %}
  <div class="video-container">
    <video src="{{ video.src }}" loop muted controls playbackRate=0.5></video>
    <div class="label">{{ video.label_text }}</div>
  </div>
  {% endfor %}

  <script>
      var ggg;
      function fixupVideo(v) {
        console.log(v);
        var d = v.wrap('<div/>');
        console.log(d);
        if (v.attr('playbackRate')) {
          v[0].playbackRate = parseFloat($(v).attr('playbackRate'));
        }
        if (v.attr('trimRight')) {
          vvv = v;
          ddd = d;
        }
      }

      function init() {
        console.log('init');
        let observer = new IntersectionObserver(
          (entries, observer) => {
            for (entry of entries) {
              if (entry.isIntersecting) {
                console.log('play', entry.target);
                entry.target.play();
              } else  {
                console.log('pause', entry.target);
                entry.target.pause(); 
              }
            }
          },
          {threshold: 0}
        );
        
        $('img,video').each(function(i,v){
          fixupVideo($(v));
          console.log('setting up', v);
          observer.observe(v);
        });
      }

      $(init);
  </script>
</body>
</html>
