<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <style>
      img {height:300px}
      body {margin:0px}
      #site-title {
        margin-bottom: 5px;
        text-align: center;
        width: 100%;
      }
      .label {
        font-size: 9px;
      }
      .video-container {
        display: inline-flex;
        flex-flow: column nowrap;
        margin: 3px;
        padding-bottom: 20px;
      }
      .checkbox-group {
        width: 80px;
        margin-top: 5px;
      }
    </style>
</head>

<body>
  <h1 id="site-title">{{ run_name }}</h1>

  {% for video in videos %}
  <div class="video-container">
    <video src="{{ video.src }}" loop muted controls playbackRate=0.5></video>
    <div class="label">{{ video.label_text }}</div>
    <div class="checkbox-group" data-group="{{video.record_id}}">
      {% for classification, value in video.classifications.items() %}
        <input type="checkbox" {% if value == true %}checked{% endif %} id="{{video.record_id}}_{{classification}}" name="{{video.record_id}}" value={{classification}}>
        <label for="{{video.record_id}}_{{classification}}">{{ classification }}</label>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

  <script>

      // TODO: change URL for production
      const socket = io.connect('http://127.0.0.1:5000');

      var ggg;
      function fixupVideo(v) {
        //console.log(v);
        var d = v.wrap('<div/>');
        //console.log(d);
        if (v.attr('playbackRate')) {
          v[0].playbackRate = parseFloat($(v).attr('playbackRate'));
        }
        if (v.attr('trimRight')) {
          vvv = v;
          ddd = d;
        }
      }

      function init() {
        //console.log('init');
        let observer = new IntersectionObserver(
          (entries, observer) => {
            for (entry of entries) {
              if (entry.isIntersecting) {
                //console.log('play', entry.target);
                entry.target.play();
              } else  {
                //console.log('pause', entry.target);
                entry.target.pause(); 
              }
            }
          },
          {threshold: 0}
        );
        
        $('img,video').each(function(i,v){
          fixupVideo($(v));
          //console.log('setting up', v);
          observer.observe(v);
        });

        socket.on('checkbox-update', (data) => {
            var group = $('.checkbox-group[data-group="' + data.id + '"]');
            group.children("input").each(function() {
              $(this).prop('checked', data.classifications[$(this).val()]);
            });
        });

        $(document).on('change', 'input[type="checkbox"]', function() {
          var group = $(this).closest('.checkbox-group').data('group');
          var checkboxesInGroup = $('input[name="'+$(this).attr('name')+'"]');
          var checkedValues = {};

          checkboxesInGroup.each(function() {
            checkedValues[$(this).val()] = $(this).prop('checked');
          });

          socket.emit('update-video-classifications', { id: group, classifications: checkedValues });

        //   $.ajax({
        //       url: '/update-video-classifications',
        //       method: 'POST',
        //       contentType: 'application/json',
        //       data: JSON.stringify({
        //           id: group,
        //           classifications: checkedValues
        //       }),
        //       success: function(response) {
        //           console.log('Server response:', response);
        //       },
        //       error: function(xhr, status, error) {
        //           console.error('Error:', error);
        //       }
        //   });
        });
      }

      $(init);
  </script>
</body>
</html>
